<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uncensored Furry</title>
    <link rel="stylesheet" href="../../styles/add-lapangan.css">
    <link rel="stylesheet" href="../../styles/sidebar.css">
</head>

<body>

    <%- include('./partials/sidebar') %>

    <main class="main_content">
        <%- include('./partials/header') %>

        <div class="content">
            <h1 class="content__header">Tambah Lapangan</h1>
            <form action="/lapangan" method="POST" class="add_form">
                <div class="container">
                    <label for="name">Nama Lapangan</label>
                    <input type="text" id="name" placeholder="nama" class="input">
                </div>
                <div class="container">
                    <label for="price">Harga Lapangan</label>
                    <input type="text" id="price" placeholder="harga" class="input">
                </div>
                <input type="submit" value="Submit" class="submit_button input">
            </form>
        </div>
    </main>
    
</body>
</html>