<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uncensored Furry</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/sidebar.css">
</head>
<body>
    <%- include('./partials/sidebar') %>

    <main class="main_content">
        <%- include('./partials/header') %>

        <div class="lapangan_item">
            tes
        </div>
    </main>
</body>
</html>