<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistem Penyewaan Lapangan</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <form class="container" method="POST" action="/users/login">
      <h1 class="form-title">Login Page</h1>

      <% if (messages.error) { %>
      <div class="error"><%= messages.error %></div>
      <% } %>

      <% if (flash) { %>
        <% Object.entries(flash).forEach(([key, value]) => { %>
          <% if (key === 'error') { %>
            <div class="error"><%= value %></div>
          <% } else { %>
            <div class="success"><%= value %></div>
          <% } %>
        <% }) %>
      <% } %>

      <div class="input-container">
        <label for="username" class="input-label">Masukkan Username</label>
        <input
          type="text"
          class="input"
          placeholder="username"
          id="username"
          name="username"
          required
        />
      </div>
      <div class="input-container">
        <label for="password" class="input-label">Masukkan Password</label>
        <input
          type="password"
          class="input"
          placeholder="password"
          id="password"
          name="password"
          required
        />
      </div>
      <button type="submit" id="login" class="button">Sign In</button>
      <a href="/users/register" id="register" class="button">Register</a>
    </form>
  </body>
</html>
