<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistem Penyewaan Lapangan</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <form class="container" method="POST" action="/users/login">
      <h1>LOGIN</h1>
      <div class="input-container">
        <label for="username" class="input-label">Masukkan Username</label>
        <input
          type="text"
          class="input"
          placeholder="username"
          id="username"
          name="username"
          required
        />
      </div>
      <div class="input-container">
        <label for="password" class="input-label">Masukkan Password</label>
        <input
          type="password"
          class="input"
          placeholder="password"
          id="password"
          name="password"
          required
        />
      </div>
      <button id="login" class="button">Sign In</button>
    </form>
  </body>
</html>
